# dependencies
node_modules

# build
.next

# env files
.env
.env.local
.env.*.local

# cache
.cache
.yarn
.pnpm-store

# logs
logs
*.log

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE files
.vscode
.idea
