@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-bgColor text-gray-900 font-sans;
    }
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px #a200f5;
        text-stroke: 1px #a200f5;
    }
}
